.*.swp
*.o
dump
test
add
addmbox
mancorpus
query
query-parser.tab.[ch]
query-tokenizer.[ch]
query-parser.lex.[ch]
tokenizer.lex.[ch]
test-stringpool
test-search
test-segment
test-stringmap
test-termhash
test-labels
test-queries
test-tokenizer
batch-run-queries
ruby/ext/whistlepig/*.[ch]
ruby/ext/whistlepig/Makefile
integration-tests/enron1m.mbox
integration-tests/enron1m.index*
ruby/pkg/
ruby/README
ruby/COPYING
benchmark-queries
test-snippets
